@import "nord.css";

* {
  border: none;
  border-radius: 6px;
  padding: 1px 5px 1px 5px;
  font-family: FiraCode Nerd Font;
  font-size: 14px;
}
window#waybar {
  background-color: @dark1;
  color: @white2;
}
button:hover {
  background: @deeparcticocean;
}
#workspaces button.visible {
  background-color: @deeparcticocean;
}
#custom-checkupdates {
  color: @clearice;
}
#pulseaudio {
  color: @arcticwaters;
}
#pulseaudio.muted {
  color: @dark3;
}
#clock {
  color: @deeparcticocean;
}
